@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('fonts/PlusJakartaSans-VariableFont_wght.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('fonts/static/PlusJakartaSans-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('fonts/static/PlusJakartaSans-ExtraBold.ttf');
    font-weight: 800;
}


:root {
    --primaryBlue: hsl(219, 85%, 26%);
    --dark: hsl(224, 21%, 14%);
    --lightBg: hsl(210, 60%, 98%);
    --grayishBlue: hsl(219, 14%, 63%);
    --lightGray: hsl(211, 68%, 94%);
    --gray: hsl(219, 12%, 42%);
    --danger: hsl(1, 90%, 64%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
}


body {
    background-color: var(--lightBg);
}

.container {
    width: 35%;
    margin:2rem auto;
    box-shadow: 20px 20px 10px var(--dark), -20px -20px -10px var(--dark);
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin-bottom: .5rem;
    font-family: 'Plus Jakarta Sans';
}

.notification-title{
    font-weight: bold;
}

.notification-badge {
    padding: .1rem .6rem;
    margin-left: .3rem;
    background-color: var(--primaryBlue);
    color: white;
    border-radius: 7px;
}

.mark-read{
    color: var(--gray);
    font-weight: 400;
}

.notification-item{
    border-radius: 10px;
    margin: 10px auto;
    padding:.5rem 0 .5rem .5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.opened{
    display: grid;
    grid-template-columns: auto 90%;
    grid-template-rows:auto auto auto;
}

.opened .avatar {
    grid-column: 1/2;
}

.opened .notification-time {
    margin-top: -20px;
}

.opened-message{
    grid-column: 2 / -1;
    grid-row: 3 / -1;
    margin: .3rem 0 .5rem 0;
    padding: .5rem;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
}

 .unread {
    background-color: var(--lightGray);
}

.avatar, .chess-image{
    height: 3rem;
}

.notification-details{
    width: 92%;
    display: grid;
    grid-template-rows: auto auto;
}

.notification-time{
    grid-column: 2 / -1;
    color: var(--gray);
    margin: .3rem 0;
}

.notification-preview{
    color: var(--gray);
}

 
.unread .notification-details .notification-preview::after{
    content: "";
    display: inline-block;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-color: var(--danger);
}


.notification-item:not(.opened) .notification-details{
    padding-left: .5rem;
}


.chess{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.user-name {
    color: var(--dark);
}

.club{
    color: var(--primaryBlue);
    font-weight: 500;
}


.post{
    font-weight: 500;
}

.user-name:hover, .mark-read:hover, .club:hover, .post:hover{
    color: var(--primaryBlue);
    cursor: pointer;
}

.chess-image:hover{
    cursor: pointer;
}

.opened-message:hover{
    background-color: var(--lightGray);
    cursor:pointer;
}

@media screen and (max-width: 1180px){
    .container {
        margin:2rem auto 0 auto;
    }

    .notification-details{
        width: 95%;
    }

    .opened {
        display: grid;
        grid-template-columns: 48px auto;
        grid-column-gap: 15px;
    }

    .opened .notification-time {
        margin-top: 0;
    }

}

@media screen and (max-width: 844px){

    .container {
        width: 90%;
        margin: 0 auto;
        border-radius: 0;
    }

   .notification-details{
        width: 90%;
    }

    .opened .notification-time {
        margin-top: 0;
    }
}

